<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <!--Use router 'admin' for admin route -->
    <router id="admin">
        <!--Define a custom route with id and frontName -->
        <route id="perspective_theme14helloworld" frontName="perspective_theme14helloworld">

            <!--The module which this route match to-->

            <module name="Perspective_Theme14Helloworld"/>

        </route>

    </router>
</config>